* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: rgb(120,235,170);
    background: linear-gradient(0deg, rgba(120,235,170,1) 0%, rgba(253,244,45,1) 100%);
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
div {
    margin-block: 10px;
    display: flex;
    align-items: center;
}
div#copete{
    background-color: black;
}
h3 {
    color: white;
    width: 100%;
    margin-left: 5%;
    margin-right: 25%;
    text-align: center;
    font-size: 30px;
}
nav{
    width: 30%;
}
nav h2>a {
    width: 80%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    font-size: 30px;
    position: relative;
    top: 50px;
    
}
div#fondo{
    max-width: 100%;
    width: 100%;
    height: 300px;
    padding: 20px;
    background-image: url(./assets/design1_image2.jpg);
    background-position: center;
    background-size: cover;
}
.active {
    text-decoration: none;
    color: black;
}
h1 {
    color: rgb(153, 221, 206);
    font-size: 50px;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    margin: 10px;
}

img {
    max-width: 100%;
    width: 200px;
}
div> figure {
    position: absolute;
    right: 1%;
    z-index: 1;
    width: 25%;
}
h4,p{
    max-width: 60%;
    position: relative;
    bottom: 450px;
    left: 400px;
}
h4{
    font-size: 30px;
}
p{
    padding: 10px;
    margin-left: 20px;
}
dt,dd, td, th{
    max-width: 60%;
    position: relative;
    bottom: 450px;
    left: 400px;
}
dd,li{
    padding: 10px;
    margin-left: 20px;
}
#sublista{
    list-style-type: lower-alpha;
}
ul{
    list-style-type: circle;
    margin-left: 20px;
}
dt{
    font-size: 30px;
}
td, th{
    padding: 2px;
    text-align: center;
    padding-left: 20px;
}
iframe{
    display: flex;
    padding: 5px;
    position: relative;
    bottom: 450px;
    left: 500px;
}
.parrafo {
    position: relative;
    top:10px;
    left: 150px;
    text-align: center;
}
section>h2, fieldset>legend{
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(36, 137, 42);
    border-image: initial;
}
label{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}
.opciones{
    display: flex;
    text-align: center;
    justify-content: center;
}
form{
    max-width: 60%;
    position: relative;
    bottom: 450px;
    left: 350px;
}
.submit{
    margin: 10px;
}

@media only screen and (min-width: 1200px){
    h3 {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    h1 {
        font-size: 80px;
    }
        
}